---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/albums/1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1638209726'
      Etag:
      - W/"40-74G1+b66MteeTYAz6G+NybtDGFA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 1,
          "title": "quidem molestiae enim"
        }
  recorded_at: Mon, 29 Nov 2021 18:15:22 GMT
- request:
    method: get
    uri: "<API-URL>/albums/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1638209846'
      Etag:
      - W/"4b-WDu1MElfF3vHsVW2gOXM7w31iu0"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "sunt qui excepturi placeat culpa"
        }
  recorded_at: Mon, 29 Nov 2021 18:17:04 GMT
recorded_with: VCR 6.0.0
